body{
  font-family: Georgia;
  margin: 0;
  background-color:#F5F5F5;
  overflow-x: hidden;
}

.topnav{
  background-color: #707070;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}

#inova_logo{
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.topnav a{
  text-align: center;
  padding: 40px 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  float: right;
}

.topnav a:hover{
  background-color: #969696;
}

.menu{
  top: 10px;
  left: 13px;
  margin-top: 5px;
  position: absolute;
  display: none;
}

.menu div{
  border: 1px solid white;
  width: 30px;
  padding: 1px;
  margin: 5px;
  border-radius: 50px;
  background-color: white;
}

.menu:hover{
  background-color: #969696;
}

#x-button{
  left: 10px;
  position: absolute;
  font-family: "Arial";
  color: white;
}


ul{
  list-style-type: none;
  height: 100%;
}

#menu_nav{
  top: 0px;
  position: absolute;
  z-index: 2;
  border: 1px solid #008000	;
  height: 780px;
  font-size: 25px;
  background-color: #008000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
}

#menu_nav li{
  text-align: center;
  padding: 50px;
}

li a{
  text-decoration: none;
  color: white;
}

#menu_nav li:hover{
  background-color: #006400;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
}
h2{
    font-size: 57px;
    padding-left: 50px;
}
.text{
    font-size: 27px;
    padding-left: 50px;
    padding-right: 30px;
}
h1{
    text-align: center;
}
.staff1{
    border-radius: 50%;
    width: 200px;
}
.staff2{
    border-radius: 50%;
    width: 200px;
}
.staff3{
    border-radius: 50%;
    width: 200px;
}
.staff4{
    border-radius: 50%;
    width: 200px;
}
.columns {
  display: flex;

}

.column_staff {
  flex: 25%;
  padding-left: 85px;
  width: 200px;
}

.info1{
    text-align: center;
    padding-right: 100px;
}
.info2{
    text-align: center;
    padding-right: 100px;
}
.info3{
    text-align: center;
    padding-right: 100px;
}
.info4{
    text-align: center;
    padding-right: 100px;
}

#footer{
    position: relative;
    background-color: #707070;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 100px;
}

@media only screen and (max-width: 1500px){
    .column_staff{
        padding-left: 60px;
        flex: 50%;
    }
}
@media only screen and (max-width: 1400px){
    .column_staff{
        padding-left: 40px;
    }
}
@media only screen and (max-width: 1300px){
    .column_staff{
        padding-left: 20px;
    }
@media only screen and (max-width: 1150px){
    .column_staff{
        padding-left: 10px;
    }
    .info1{
        padding-left: 20px;
    }
    .info2{
        padding-left: 20px;
    }
    .info3{
        padding-left: 20px;
    }
    .info4{
        padding-left: 20px;
    }
}
@media only screen and (max-width: 905px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 350px;
  }

  .menu_nav{
    display: none;
  }

    .column {
  flex: 100%;
    }

    .staff1{
        width: 150px;
    }
    .staff2{
        width: 150px;
    }
    .staff3{
        width: 150px;
    }
    .staff4{
        width: 150px;
    }
    .column_staff{
        padding-left: 5px;
    }

}
@media only screen and (max-width: 850px){
    .staff1{
        width: 200px;
        position: relative;
        left: 100px;
    }
    .staff2{
        width: 200px;
        position: relative;
        left: 300px;
    }
    .staff3{
        width: 200px;
        position: relative;
        top: 400px;
        right: 310px;
    }
    .staff4{
        width: 200px;
        position: relative;
        top: 400px;
        right: 100px;
    }
    .info1{
        position: relative;
        left: 100px;

    }
    .info2{
        position: relative;
        left: 300px;
    }
    .info3{
        position: relative;
        top: 400px;
        right: 310px;
    }
    .info4{
        position: relative;
        top: 400px;
        right: 100px;
    }
    #footer{
        position: relative;
        top: 300px;
    }
}

@media only screen and (max-width: 776px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 320px;
  }
}

/*Tablet*/
@media only screen and (max-width: 768px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 330px;
  }
    .staff1{
        left: 50px;
    }
    .staff2{
        left: 250px;
    }
    .staff3{
        right: 360px;
    }
    .staff4{
        right: 150px;
    }
    .info1{
        left: 50px;

    }
    .info2{
        left: 250px;
    }
    .info3{
        right: 360px;
    }
    .info4{
        right: 150px;
    }
}

@media only screen and (max-width: 730px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 215px;
  }
}
@media only screen and (max-width: 690px){
    .staff2{
        left: 150px;
    }
    .staff4{
        right: 250px;
    }
    .info2{
        left: 150px;
    }
    .info4{
        right: 250px;
    }
}

@media only screen and (max-width: 590px){
    .staff1{
        width: 150px;
        left: 20px;
    }
    .staff2{
        left: 70px;
        width: 150px;
    }
    .staff3{
        width: 150px;
        right: 390px;
        top: 350px;
    }
    .staff4{
        right: 330px;
        width: 150px;
        top: 350px;
    }
    .info1{
        left: 20px;
        font-size: 15px;
    }
    .info2{
        left: 70px;
        font-size: 15px;
    }
    .info3{
        right: 390px;
        font-size: 15px;
        top:350px;
    }
    .info4{
        right: 330px;
        font-size: 15px;
        top:350px;
    }
    #footer{
        top:250px;
    }
}
@media only screen and (max-width: 510px){
    .staff2{
        left: 10px;
    }
    .info2{
        left:10px;
    }
    .staff4{
        right: 390px;
    }
    .info4{
        right:390px;
    }

}

/*Mobil L*/
@media only screen and (max-width: 425px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 170px;
  }

  #text_intro{
    font-size: 33px;
    margin-left: 18px;
    margin-right: 20px;
  }

  .staff1{
  }

  .staff2{
    top: 185px;
    left: -190px;
  }

  .staff3{
    top: 385px;
    left: -395px;
  }

  .staff4{
    top: 585px;
    left: -600px;
    margin-bottom: 100px;
  }

  .info1{
    left: 170px;
    top: -150px;
  }

  .info2{
    left: -41px;
    top: 30px;
  }

  .info3{
    left: -250px;
    top: 230px;
  }

  .info4{
    left: -450px;
    top: 340px;
  }

}

/*Mobil M*/
@media only screen and (max-width: 375px){

  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 150px;
  }

  .staff1{
    width:120px;
  }

  .staff2{
    width:120px;
    top: 185px;
    left: -185px;
  }

  .staff3{
    width:120px;
    top: 385px;
    left: -385px;
  }

  .staff4{
    width:120px;
    top: 575px;
    left: -595px;
    margin-bottom: 100px;
  }

  .info1{
    font-size: 14px;
    left: 155px;
    top: -130px;
  }

  .info2{
    font-size: 14px;
    left: -41px;
    top: 50px;
  }

  .info3{
    font-size: 14px;
    left: -250px;
    top: 260px;
  }

  .info4{
    font-size: 14px;
    left: -460px;
    top: 350px;
  }

}

/*Mobil S*/
@media only screen and (max-width: 320px){

  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 120px;
  }

  .staff1{
    width:100px;
  }

  .staff2{
    width:100px;
    top: 185px;
    left: -185px;
  }

  .staff3{
    width:100px;
    top: 385px;
    left: -390px;
  }

  .staff4{
    width:100px;
    top: 575px;
    left: -595px;
    margin-bottom: 200px;
  }

  .info1{
    font-size: 12px;
    left: 135px;
    top: -100px;
  }

  .info2{
    font-size: 12px;
    left: -71px;
    top: 75px;
  }

  .info3{
    font-size: 12px;
    left: -280px;
    top: 285px;
  }

  .info4{
    font-size: 12px;
    left: -500px;
    top: 270px;
  }

}

@media only screen and (max-height: 480px){
  #menu_nav li{
    text-align: center;
    padding: 30px;
  }
}

@media only screen and (max-height: 333px){
  #menu_nav li{
    text-align: center;
    padding: 20px;
  }
}

@media only screen and (max-height: 266px){
  #menu_nav li{
    text-align: center;
    padding: 15px;
  }
}
