body{
  font-family: Georgia;
  margin: 0;
  background-color:#F5F5F5;
  overflow-x: hidden;
}

.topnav{
  background-color: #707070;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}

#inova_logo{
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.topnav a{
  text-align: center;
  padding: 40px 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  float: right;
}

.topnav a:hover{
  background-color: #969696;
}

#introduction{
  color: black;
  opacity: 84%;
  top: 80px;
  left: 50px;
  position: absolute;
}

#text_intro_title{
  font-size: 57px;
}

#text_intro {
  font-size: 27px;
}
#bilde2{
    float: right;
    width: 50%
}
#headline{
    text-align: center;
}
h1{
    position: relative;
    left: 700px;
    top: 600px;
}
.column2{
    flex: 25%:
}
.column3{
    flex: 25%:
}
.column4{
    flex: 25%:
}
.staff{
    border-radius: 50%;
    width: 200px;
}
.columns {
  display: flex;
}

.column1 {
  flex: 20%;
  padding-left: 120px;
  height: 200px; 
}
.column2 {
  flex: 20%;
  padding: 10px;
  height: 200px; 
}
.column3 {
  flex: 20%;
  padding: 10px;
  height: 200px; 
}
.column4 {
  flex: 20%;
  padding: 10px;
  height: 195px; 
}
.info1{
    flex:25%;
    position: relative;
    left: 210px;
}
.info2{
    flex:25%;
    position: relative;
    left: 160px;
}
.info3{
    flex:25;
    position: relative;
    left: 120px;
}
.info4{
    flex:25;
    position: relative;
    left: 110px;
}
#footer{
    background-color: #707070;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 16px;
}
