body{
  font-family: Georgia;
  margin: 0;
  background-color:#F5F5F5;
  overflow-x: hidden;
}

.topnav{
  background-color: #707070;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}

#inova_logo{
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.topnav a{
  text-align: center;
  padding: 40px 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  float: right;
}

.topnav a:hover{
  background-color: #969696;
}

.menu{
  top: 10px;
  left: 13px;
  margin-top: 5px;
  position: absolute;
  display: none;
}

.menu div{
  border: 1px solid white;
  width: 30px;
  padding: 1px;
  margin: 5px;
  border-radius: 50px;
  background-color: white;
}


#introduction{
  color: black;
  opacity: 84%;
  float: left;
  width: 50%;
  padding: 10px;

}

#row{
  display: flex;
}

#text_intro_title{
  font-size: 57px;
}

#text_intro {
  font-size: 27px;
}
#bilde2{
  margin: auto;
  float: right;
  width: 45%;
  padding: 10px;
  padding-top: 80px;
}
#headline{
    text-align: center;
}

h1{

}
.column2{
    flex: 25%:
}
.column3{
    flex: 25%:
}
.column4{
    flex: 25%:
}
.staff{
    border-radius: 50%;
    width: 200px;
    flex: 50%;
}
.columns {
  display: flex;
}

.column1 {
  flex: 20%;
  padding-left: 120px;
  height: 200px;
}
.column2 {
  flex: 20%;
  padding: 10px;
  height: 200px;
}
.column3 {
  flex: 20%;
  padding: 10px;
  height: 200px;
}
.column4 {
  flex: 20%;
  padding: 10px;
  height: 195px;
}
.info1{
    flex:25%;
    position: relative;
    left: 210px;
}
.info2{
    flex:25%;
    position: relative;
    left: 160px;
}
.info3{
    flex:25;
    position: relative;
    left: 120px;
}
.info4{
    flex:25;
    position: relative;
    left: 110px;
}

#footer{
    background-color: #707070;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 905px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 350px;
  }

  #introduction{
    margin: auto;
    float: none;
  }

  #bilde2{
    display: none;
  }
}


@media only screen and (max-width: 776px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 320px;
  }
}

/*Tablet*/
@media only screen and (max-width: 768px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 330px;
  }
}

@media only screen and (max-width: 730px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 215px;
  }
}

/*Mobil L*/
@media only screen and (max-width: 425px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 170px;
  }
}

/*Mobile M*/
@media only screen and (max-width: 375px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 150px;
  }
}

/*Mobile S*/
@media only screen and (max-width: 320px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 120px;
  }
}
