body{
  font-family: Georgia;
  margin: 0;
  background-color: #e8e8e8;
}

.topnav{
  background-color: #707070;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#inova_logo{
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.topnav a{
  text-align: center;
  padding: 40px 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  float: right;
}

.topnav a:hover{
  background-color: #969696;
}

.menu{
  top: 10px;
  left: 13px;
  margin-top: 5px;
  position: absolute;
  display: none;
}

.menu div{
  border: 1px solid white;
  width: 30px;
  padding: 1px;
  margin: 5px;
  border-radius: 50px;
  background-color: white;
}

.menu:hover{
  background-color: #969696;
}

#x-button{
  left: 10px;
  position: absolute;
  font-family: "Arial";
  color: white;
}


ul{
  list-style-type: none;
  height: 100%;
}

#menu_nav{
  top: 0px;
  position: absolute;
  z-index: 2;
  border: 1px solid #008000	;
  height: 780px;
  font-size: 25px;
  background-color: #008000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
}

#menu_nav li{
  text-align: center;
  padding: 50px;
}

li a{
  text-decoration: none;
  color: white;
}

#menu_nav li:hover{
  background-color: #006400;
}

.text_title{
  margin-left: 50px;
  font-size: 57px;
}

.row{
  display: flex;
}

.text {
  margin-left: 50px;
  height: 300px;
  font-size: 27px;
  float: left;
  width: 100%;
}


.program {
  flex: 60%;
  padding: 10px;
  height: 300px;
  padding-top: 28px;
  float: right;
  padding-bottom: 400px;
}

#schedule td, #schedule th {
  width: 500px;
  border: 1px solid #ddd;
  width: 500px;
  padding: 8px;
  background-color: #F5F5F5;
  color: black;
  text-align: center;
}
#schedule{
    padding-right: 50px;
    padding-left: 50px;
}
#schedule th {
  color: white;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: black;
  background-color: green;
  color: white;
}

#footer{
    position: relative;
    background-color: #707070;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 100px;
}

@media only screen and (max-width: 905px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 350px;
  }

}


@media only screen and (max-width: 776px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 320px;
  }
}

/*Tablet*/
@media only screen and (max-width: 768px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 330px;
  }
}

@media only screen and (max-width: 730px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 215px;
  }
}

@media only screen and (max-width: 618px){
  .row {
    display: inline-block;

  }

  .text{
    margin-left: 5px;
  }

  .program {
    margin-left: -50px;
    height: 300px;
    margin-top: 250px;
  }

}

/*Mobil L*/
@media only screen and (max-width: 425px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 170px;
  }
}

/*Mobile M*/
@media only screen and (max-width: 375px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 150px;
  }

  .text_title{
    margin-left: 20px;
    font-size: 57px;
  }
}

/*Mobile S*/
@media only screen and (max-width: 320px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 120px;
  }

  .text{
    font-size: 18px;
    width: 75%;
    margin-left: 18px;
    margin-right: 20px;
  }

  .text_title{
    font-size: 40px;
    width: 20%;
    margin-left: 20px;
  }


}
