body{
  font-family: Georgia;
  margin: 0;
  background-color: #e8e8e8;
}

.topnav{
  background-color: #707070;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#inova_logo{
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.topnav a{
  text-align: center;
  padding: 40px 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  float: right;
}

.topnav a:hover{
  background-color: #969696;
}

.menu{
  top: 10px;
  left: 13px;
  margin-top: 5px;
  position: absolute;
  display: none;
}

.menu div{
  border: 1px solid white;
  width: 30px;
  padding: 1px;
  margin: 5px;
  border-radius: 50px;
  background-color: white;
}

.text_title{
  padding-left: 50px;
  font-size: 57px;
}

.row{
  display: flex;
}

.text {
  flex: 40%;
  padding-left: 50px;
  height: 300px;
  font-size: 27px;
}


.program {
  flex: 60%;
  padding: 10px;
  height: 300px;
  padding-top: 28px;
}

#schedule td, #schedule th {
  width: 500px;
  border: 1px solid #ddd;
  width: 500px;
  padding: 8px;
  background-color: #F5F5F5;
  color: black;
  text-align: center;
}
#schedule{
    padding-right: 50px;
    padding-left: 50px;
}
#schedule th {
  color: white;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: black;
  background-color: green;
  color: white;
}
#footer{
    background-color: #707070;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 16px;
    position: relative;
    top: 100px;
}

@media only screen and (max-width: 905px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 350px;
  }
}


@media only screen and (max-width: 776px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 320px;
  }
}

/*Tablet*/
@media only screen and (max-width: 768px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 330px;
  }
}

@media only screen and (max-width: 730px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 215px;
  }
}

/*Mobil L*/
@media only screen and (max-width: 425px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 170px;
  }
}

/*Mobile M*/
@media only screen and (max-width: 375px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 150px;
  }
}

/*Mobile S*/
@media only screen and (max-width: 320px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 120px;
  }
}
