body{
  font-family: Georgia;
  margin: 0;
  background-color: #e8e8e8;
}

* {
  box-sizing: border-box;
}

.topnav{
  background-color: #707070;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#inova_logo{
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.topnav a{
  text-align: center;
  padding: 40px 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  float: right;
}

.topnav a:hover{
  background-color: #969696;
}

.text_title{
  text-align: center;
  font-size: 50px;
}

.text {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  background-color: #F5F5F5;
}


.program {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.nextTo:after {
  background-color:#bbb;
  content: "";
  clear: both;
  display: table;
}

#schedule td, #schedule th {
  width: 500px;
  border: 1px solid #ddd;
  width: 500px;
  padding: 8px;
  background-color: #F5F5F5;
  color: black;
}

#schedule th {
  color: white;
  text-align: left;
  padding-bottom: 12px;
  padding-top: 12px;
  background-color: black;
  text-align: left;
  background-color: green;
  color: white;
}
