body{
  font-family: Georgia;
  margin: 0;
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'main main main main main main'
  'footer footer footer footer footer footer'
}

.topnav{
  background-color: #707070;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  grid-area: header;
}

#inova_logo{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  float: left;
}

.topnav a{
  text-align: center;
  padding: 40px 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  float: right;
}

.topnav a:hover{
  background-color: #969696;
}



#bilde1{
  filter: blur(6px);
  padding-top: 10px;
  height: 700px;
  float: left;
  grid-area: main;
}

.columns{
  display: flex;
}

.text1{
  flex:50%;
  margin: auto;
  text-align: center;
  opacity: 84%;
  grid-area: main;
}

#more{
  color: #4AF000;
}

.text1 div{
  float: left;
  padding: 10px;
  font-size: 50px;
  grid-area: main;
}

.registration {
  border: 1px solid gray;
  border-radius: 50px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: gray;
  font-size: 40px;
  top: 600px;
  left: 30%;
  position: absolute;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  opacity: 80%;
  text-align: center;
  grid-area: main2;
}


.registration:hover{
  background-color: #4AF000;
}
#footer{
    position: fixed;
    bottom: 0;
    background-color: #707070;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 16px;
    bottom:0;
    width:100%;
}

/*For the screen measurements I used google chrome measurement development tool*/

@media only screen and (max-width: 1220px){
  .registration{
    left: 280px;
  }
}

@media only screen and (max-width: 954px){
  .registration{
    left: 120px;
  }
}

@media only screen and (max-width: 905px){
  .topnav a{
    font-size: 15px;
    padding: 40px 30px;
  }

  #inova_logo{
    width: 100px;
    padding:30px;
  }

  .menu_nav{
    display: none;
  }

  .registration{
    left: 60px;
  }
}


@media only screen and (max-width: 776px){
  .topnav a{
    font-size: 15px;
    padding: 40px 30px;
  }

  #inova_logo{
    width: 100px;
    padding:30px;
  }

  .registration{
    left: 15px;
  }
}

/*Tablet*/
@media only screen and (max-width: 768px){
  .topnav a{
    font-size: 15px;
    padding: 40px 30px;
  }

  #inova_logo{
    width: 100px;
    padding:30px;
  }
}

@media only screen and (max-width: 730px){
  .topnav a{
    font-size: 15px;
    padding: 40px 30px;
  }

  #inova_logo{
    width: 100px;
    padding:30px;
  }
}

@media only screen and (max-width: 610px){
  .topnav a{
    font-size: 15px;
    padding: 40px 20px;
  }
}


@media only screen and (max-width: 500px){

  .topnav a{
    font-size: 15px;
    padding: 40px 10px;
  }

}

/*Mobil L*/
@media only screen and (max-width: 425px){
  .topnav a{
    font-size: 15px;
    padding: 40px 30px;
  }

  #inova_logo{
    width: 100px;
    padding:30px;
  }

  .registration{
    width: 50%;
    font-size: 15px;
    left: 80px;
    position: absolute;
  }
}
