body{
  font-family: Georgia;
  margin: 0;
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'main main main main main main'
  'footer footer footer footer footer footer'
}

.topnav{
  background-color: #707070;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  grid-area: header;
}

#inova_logo{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  float: left;
}

.topnav a{
  text-align: center;
  padding: 40px 50px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  float: right;
}

.topnav a:hover{
  background-color: #969696;
}

.menu{
  top: 10px;
  left: 13px;
  margin-top: 5px;
  position: absolute;
  display: none;
}

.menu div{
  border: 1px solid white;
  width: 30px;
  padding: 1px;
  margin: 5px;
  border-radius: 50px;
  background-color: white;
}

#bilde1{
  filter: blur(6px);
  padding-top: 10px;
  height: 700px;
  float: left;
  grid-area: main;
}

.columns{
  display: flex;
}

.text1{
  flex:50%;
  margin: auto;
  text-align: center;
  opacity: 84%;
  grid-area: main;
}

#more{
  color: #4AF000;
}

.text1 div{
  float: left;
  padding: 10px;
  font-size: 50px;
  grid-area: main;
}

.registration {
  border: 1px solid gray;
  border-radius: 50px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: gray;
  font-size: 40px;
  top: 600px;
  left: 435px;
  position: absolute;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  opacity: 80%;
  text-align: center;
  grid-area: main2;
}


.registration:hover{
  background-color: #4AF000;
}
#footer{
    background-color: #707070;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 16px;
    overflow: hidden;
    grid-area: footer;
}

@media only screen and (max-width: 905px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 350px;
  }
}


@media only screen and (max-width: 776px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 320px;
  }
}

/*Tablet*/
@media only screen and (max-width: 768px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 330px;
  }
}

@media only screen and (max-width: 730px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 215px;
  }
}

/*Mobil L*/
@media only screen and (max-width: 425px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 170px;
  }
}

/*Mobile M*/
@media only screen and (max-width: 375px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 150px;
  }
}

/*Mobile S*/
@media only screen and (max-width: 320px){
  .topnav a{
    display: none;
  }

  .menu{
    display: block;
  }

  #inova_logo{
    width: 100px;
    padding-left: 120px;
  }
}
